<header class="g-header">
	<div class="m-logo">
		<span class="u-logo">
			<img class="img" src="/static/img/xunlei.jpg"/>
		</span>
		<span class="text">手雷管理后台</span>
	</div>
</header>
<div class="g-body">
	<div class="g-aside">
		<div class="m-menu">
			<ul>
				<li class="item" ng-class="{true: 'active'}[currentState=='admin.index']">
					<a ui-sref="admin.index" class="menu-link">首页</a>
				</li>
				<li class="item" ng-class="{true: 'active'}[currentState=='admin.configJson']">
					<a ui-sref="admin.configJson" class="menu-link">Json配置中心</a>
				</li>
				<li class="item" ng-class="{true: 'active'}[currentState=='admin.configTest']">
					<a ui-sref="admin.configTest" class="menu-link">测试配置</a>
				</li>
			</ul>		
		</div>
	</div>
	<div class="g-container">
		<div class="g-content" ui-view></div>	
	</div>
</div>
<footer class="g-footer">
	
</footer>