@import "./lib/reset.scss";

$dark-primary-color: #455a46;
$primary-color: #607d8b;
$light-primary-color: #cfd8dc;
$accent-color: #448aff;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #b6b6b6;
$content-bg: #fff;
$body-bg: #f9fafc;